.chat__message
  .chat__message__info
    .chat__message__info__username=message.user.name
    .chat__message__info__date=message.updated_at.strftime("%Y/%m/%d(%a) %H:%M")
  .chat__message__text=message.content
  = image_tag message.image.to_s
