.alert-message {
  background-color: #38aef0;
  width: 100vw;
  text-align: center;
  color: white;
  display: none;
}

.wrapper {
  display: flex;

  .sidebar {
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;

    .sidebar-header {
      flex: 0 0 100px;
    }
    .grouplist {
      flex-grow: 1;
    }
  }

  .main {
    flex-grow: 1;
  }
}
