$violet: #38aef0;
$white: #ffffff;

.alert-message {
  background-color: $violet;
  width: 100vw;
  text-align: center;
  color: white;
  display: none;
}

.wrapper {
  display: flex;

  .sidebar {
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;

    .sidebar-header {
      flex: 0 0 100px;
      background-color: #253141;

      .sidebar-header__content {
        .sidebar-header__content__current-username {
          color: $white;
        }
        .sidebar-header__content__menu {
          li {
            a {
              color: $white;
            }
          }
        }
      }
    }

    .grouplist {
      flex-grow: 1;
      background-color: #2f3e51;

      a {
        color: $white;
      }
    }
  }

  .main {
    flex-grow: 1;
  }
}
