$violet: #38aef0;
$white: #ffffff;

@mixin link_decoration_disabled($color) {
  color: $color;
  text-decoration: none;
}

.alert-message {
  background-color: $violet;
  width: 100vw;
  text-align: center;
  color: white;
  display: none;
}

.wrapper {
  display: flex;
  height: 100vh;

  .sidebar {
    flex: 0 0 300px;

    display: flex;
    flex-direction: column;

    .sidebar-header {
      flex: 0 0 100px;
      background-color: #253141;
      padding: 0 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .sidebar-header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar-header__content__current-username {
          color: $white;
          font: {
            size: 16px;
            weight: bold;
          }
        }
        .sidebar-header__content__menu {
          display: flex;

          li {
            margin-left: 0.3rem;
            a {
              @include link_decoration_disabled($white);
            }
          }
        }
      }
    }

    .grouplist {
      flex-grow: 1;
      background-color: #2f3e51;
      padding: 0 20px;

      a {
        @include link_decoration_disabled($white);
        .group {
          padding: 20px 0 40px 0;
          .group__name {
            margin-bottom: 5px;
            font: {
              size: 15px;
              weight: bold;
            }
          }
          .group__message {
            font: {
              size: 11px;
              weight: bold;
            }
          }
        }
      }
    }
  }

  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
