@mixin link_decoration_disabled($color) {
  color: $color;
  text-decoration: none;
}

@mixin hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin reset_border_width {
  border-width: 0;
}
